@charset "utf-8";
/* CSS Document */

@media (max-width:640px){

	.w-taglist .sep {    margin: 0 13%;}
	.r-lista b{  margin:0 3.6%;}
	.txtc .namet .span1,.txtc .namet1,.bz  { font-size:22px;}
	
}
@media (max-width:600px){

	.w-taglist .sep {    margin: 0 5%;}
	.menuf-l ul li{ font-size:18px;}
	.r-lista a{ font-size:18px;}
	.r-lista b{  margin:0 4%;}
	.w-tit1 .big {    font-size: 20px;}
	.txtc .namet .span1,.txtc .namet1,.tm-ind-panel,.bz,.sele a ,.cptab-nav a   { font-size:19px;}
	
}
@media (max-width:550px){
	.w-taglist .sep {    margin: 0 2%;}
	.menuf-l ul li{ font-size:16px;}
	.r-lista a{ font-size:16px;}
	.r-lista b{  margin:0 4%;}
	.txtc .namet .span1,.txtc .namet1,.tm-ind-panel ,.bz ,.youhui p ,.youhui table { font-size:18px;}
    .headerx a i{width:60px; height:60px;font-size:30px; line-height:60px;}
}
@media (max-width:500px){
    .r-lista a{ font-size:14px;}
	.r-lista b{  margin:0 4.5%;}
	.w-tit1 .big {    font-size: 18px;}
	.txtc .namet .span1,.txtc .namet1,.tm-ind-panel ,.bz ,.youhui p,.sele a ,.cptab-nav a,.youhui table { font-size:16px;}
}

@media (max-width:450px){
	.header .menu { margin: 1.5% 0 1.5% 1.5%;}
	.header .mag { width:80%; margin:1.5% 3% 0 16%;}
	.menuf .mag{margin: 1.5% 3% 0 10%;width:86%;}
	.product-top .mag{margin: 1.5% 3% 0 10%;width:65%;}
	.product-top .menu-more{ right:2%;}
	.submenu a i.icon { width: 55px; height: 55px; line-height: 55px; font-size: 25px;}
	.submenu a span{ font-size: 14px; }
	.footer .footer-nav a span{font-size: 16px;}
	.header .search .inp-text{font-size: 20px;}
	.w-taglist { font-size:13px;}
	.area .w-tit1 .tit {    margin-right: 1%;}
	.menuf-l ul li{ font-size:14px;}
	.menuf-l ul li.small em{padding:6% 0 6% 6% ;}
	.menuf-l ul li em{padding:12% 0 12% 6% ;}
	.r-lista a{ font-size:13px;}
	.r-lista b{  margin:0 3.9%;}
	.txtc .namet .span1,.txtc .namet1,.tm-ind-panel ,.bz ,.youhui p,.sele a  { font-size:15px;}
}
@media (max-width:400px){
    
    .submenu a span{ font-size: 12px; }
    .footer .footer-nav a span{font-size: 14px;}
	.r-lista a{ font-size:12px;}
	.r-lista b{  margin:0 3%;}
	.w-tit1 .big {    font-size: 16px;}
}
@media (max-width:370px){
	.r-lista b{  margin:0 2.5%;}
}
@media (max-width:350px){
	.r-lista b{  margin:0 2.5%;}
	
}