@charset "utf-8";
/* CSS Document */
* {
    -webkit-tap-highlight-color: rgba(255,0,0,0);
    outline: none;
    box-sizing: border-box;
}
body {margin:0px; padding:0px; font-size:12px; font-family:'微软雅黑'; background:#fff;}
ol,ul,li,dl,dt,dd,form,p,h1,h2,h3,h4,h5,img{ margin:0px; padding:0px;font-weight: normal;}
ol,ul,li{ list-style:none; padding:0; margin:0;}
img{max-width:100%;vertical-align: bottom;}
i,em{font-style:normal;}
a{text-decoration:none; border:none; margin:0; padding:0; color: #333;}
input,textarea{ outline:0; resize:none; background-color:transparent; border:none; _border:0; margin:0; padding:0;}
input{ margin:0; padding:0; border:none;}
table,table td{border-collapse:collapse;}
.clear{ clear:both;}/*清除浮动*/
.fix:after{display:table;clear:both;content:"";}/*清除浮动*/
.fix{*zoom:1;} /*清除浮动*/
.li-img{display:table; text-align:center; *position:relative; *overflow:hidden;}
.li-img a{display:table-cell; vertical-align:middle; *position:absolute; *left:50%; *top:50%;}
.li-img a img{*position:relative; *left:-50%; *top:-50%;}
.fl{ float:left;}/*左浮动*/
.fr{ float:right;}/*右浮动*/
.tc{ text-align:center;}/*内容居中*/
.last{margin-right:0px !important;}/*去掉右外间距*/
/*文字溢出*/

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}

.icon {
    font-family: "icon" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
	
}
@font-face {
    font-family: 'icon';
    src: url('../font/iconfont.ttf') format('truetype');
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

.color-sred{ color:#ea4141;}
.color-bred{ color:#e1102d;}
.border-r {
    border-right: 1px solid #e9e9e9;
}
.border-t {
    border-top: 1px solid #d1cfcf;
}
.border-b {
    border-bottom: 1px solid #d1cfcf;
}

.mt20 {
    margin-top: 20px ;
}
.mt2 {
    margin-top: 2px ;
}
.btn {
    display: inline-block;
    padding-left: 10px;
    background: #c40000;
}
del {
    color: #989898;
}
.w-comblabel {
    display: inline-block;
    border: 1px dotted #E31436;
    padding: 1px 2px;
    color: #E31436;
}
b {
    font-weight: normal;
    display: inline-block;
    margin: 0 8px;
}

.warp{ max-width:640px; margin:0 auto;}
.center{ max-width:640px; min-width:320px;  margin:0 3%; position:relative;}

.icon-back:before{ content:"\e605";}
.icon-more:before{ content:"\e669";}
.icon-fenleip:before{ content:"\e75d";}
.icon-fenlei:before{ content:"\e659";}
.icon-search:before{ content:"\e601";}
.icon-car:before{ content:"\e60a";}

.icon-shouye:before{ content:"\e612";}
.icon-qianggou:before{ content:"\e69c"}
.icon-news:before{ content:"\e636";}
.icon-zhifen:before{ content:"\e687";}
.icon-weihu:before{ content:"\e60d";}

.icon-bshouye:before{ content:"\e6a3";}
.icon-bfenlei:before{ content:"\e607"}
.icon-bzaixian:before{ content:"\e6c5";}
.icon-bgouwu:before{ content:"\e60a";}
.icon-bzhongxin:before{ content:"\e621";}

.header .mag {width:84%; margin:1.5% 3% 0 13%;}
.menuf .mag{margin: 1.5% 3% 0 8%;width:88%;}
.product-top .mag{width:70%; margin: 1.5% 3% 0 8%;}

.header{ height:73px; position:relative; background-color:#ff5000; overflow:hidden;}
.header .menu{ margin:1.5% 0 1.5% 3%; position:absolute;}
.header .menu .btn-menu{display: block;width:44px; height:33px; color:#fff;text-align:center;}
.header .menu .btn-menu span{ font-size:12px;  margin-top:5px;}
.header .menu .btn-menu i.icon-fenlei{ display: block;width:44px; height:33px;text-align: center;font-size: 30px;}
.header .search{  height:55px; background-color:#d42d00; border-radius:5px;  position:relative;}
.header .search .btn-search{ z-index:1; width:40px; height:40px; cursor: pointer;  position:absolute; top:8px; left:8px; right:8px;}
.header .search  i.icon-search{ display:inline-block;width:40px; height:40px; color:#fff;text-align: center;font-size: 35px; position:absolute; top:8px; left:8px;}
.header .search .inp-text{ height:40px; margin:8px 0 8px 0; padding-left:56px; width:100%; color:#fff; font-size:24px;}

.product-top{  background-color:#fff;}
.product-top .menu .btn-menu{width:40px; height:52px;  color:#878787;}
.product-top .menu .btn-menu i.icon-back{ width:40px; height:52px; margin-left:-20px; font-size: 40px;}
.product-top .search{  background-color:#eee; }
.product-top .search  i.icon-search{ color:#4b4b4b;}
.product-top .search .inp-text{color:#5e5e5e;}
.product-top .menu-product{ position:absolute; right:13%;margin: 1.5% 0 1.5% 0;}
.product-top .menu .btn-menu i.icon-fenleip{ display: block;width:44px; height:33px;text-align: center;font-size:35px;}
.product-top .menu-more{ position:absolute; right:4%;margin: 1.5% 0 1.5% 0;}
.product-top .menu .btn-menu i.icon-more{ display: block;width:44px; height:33px;text-align: center;font-size:35px;}

.menuf{  background-color:#f9f9f9;}
.menuf .back .btn-menu{width:40px; height:52px;  color:#878787;}
.menuf .back .btn-menu i.icon-back{ width:48px; height:40px; margin-left:-20px;font-size: 40px;}
.menuf .search{ background-color:#eee; }
.menuf .search  i.icon-search{ color:#4b4b4b;}
.menuf .search .inp-text{color:#5e5e5e;}

.menuf-c{ border-top:1px solid #aaa; background:#eee;position:relative;}
.menuf-l{ width:32%; min-width:110px;}
.menuf-l>ul{ background:#fff;}
.menuf-l>ul>li{  font-size:22px;border-bottom:1px solid #dcdcdc; border-right:1px solid #dcdcdc;}
.menuf-l>ul>li>em{ display:block; color:#1c1c1c;cursor:pointer; padding:12% 0 12% 10% ;}
.menuf-l>ul>li.cur{ background:#eee; border-left:6px solid #ff5000; border-right:none;}
.menuf-l>ul>li.cur em{  color:#ff5000;}
.menuf-l>ul>li.small em{padding:6% 0 6% 10% ;}
.menuf-r{ min-width:210px; position:absolute; top:0; left:32%; width:62.5%; margin:3% 3%; color:#7d7d7d;}
	
.r-list{ margin-bottom:6%;}
.r-list h4{ border-bottom:1px solid #959595; padding:2% 0;}
.r-lista a{ font-size:20px;color:#7d7d7d; margin:2% 0; display:inline-block;}
.r-lista a span{ color:#ff5000;}
.r-lista b{ display:inline-block; margin:0 4.5%;}



.banner img{ width:100%; vertical-align:middle;}
.submenu{margin: 0% 3% 0% 3%;}
.submenu a{ float: left; width:20%;  margin: 2% 0 2% 0; text-align: center;}
.submenu a span{font-size: 18px;margin-top: 8px;}
.submenu a i.icon {
    display: block;
    width: 79px;
    height: 79px;
    font-size: 35px;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    line-height: 79px;
    border-radius: 50%;

}
.submenu a:nth-of-type(1) i {
    background-color: #ff8752;
}
.submenu a:nth-of-type(2) i {
    background-color: #27d6a7;
}
.submenu a:nth-of-type(3) i {
    background-color: #00a7fe;
}
.submenu a:nth-of-type(4) i {
    background-color: #ffc12b;
}
.submenu a:nth-of-type(5) i {
    background-color: #8787cf;
}
.hotlist{ margin: 0 3% 0 3%; }
.hotlist a{ display: block; margin-top: 2%; }

.main{background-color: #f6f6f6; overflow:hidden;}
.mar{ margin: 0 3%; overflow: hidden;}

.w-tit1 {
    font-size: 22px;
    color: #999;
    margin: 24px 0 15px;
	position: relative;
    zoom: 1;
}

.w-tit1 .big {
    font-size: 22px;
    color: #333;
	font-weight: bold;
}


.qg-list ul{    border: solid #eaeaea; border-width: 1px 0 0 1px; background-color: #fff; }
.qg-list ul li{ float:left; border: solid #eaeaea;border-width: 0 1px 1px 0; height: 128px; width: 50%; border-right: 1px solid #eaeaea;}
.qg-list ul li .pic {
    float: left;
	width:36%;
    overflow: hidden;
    position: relative;
    zoom: 1;
    display: block;
    text-align: center;
    cursor: pointer;
	 margin:16px .3% 17px .3%;
}
.qg-list ul li .detail {
	width:60%;
	height:128px;
	text-align:left;
    float: right;
    margin-right: 5px;
    position: relative;
}
.qg-list ul li .short_title {
	margin-top:10px;
	line-height:20px;
    word-break: break-all;
    word-wrap: break-word;
    overflow: hidden;
}
.qg-list ul li .short_title a {
    color: #666;
    font-size: 12px;
}
.qg-list ul li .price {
	
    margin: 10px 0 2px;
    font-size: 18px;
    font-weight: 700;
    color: #E11935;
    position: static;
    line-height: 32px;
    white-space: nowrap;
    display: inline-block;
	left: 0;
    bottom: 16px;
}
.qg-list ul li .price del {
    color: #999;
    font-weight: 100;
    font-size: 14px;
}
.qg-list ul li .process {
    position: relative;
    height: 18px;
    line-height: 18px;
    text-align: left;
    font-size: 12px;
    color: #DC2C32;
    overflow: hidden;
}
.qg-list ul li .btn {
    position: absolute;
    bottom: 5px;
    right: 0;
    width: 50%;
    height: 26px;
    line-height: 26px;
    border: 1px solid #DE2634;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background-color: #DE2634;
    text-decoration: none;
    padding: 0;
}
.news-list ul {
    box-shadow: none;
    border: 0 solid #eaeaea;
	border-width:1px 1px 0 1px;
    overflow: hidden;
	background: #fff;
}
.news-list ul li {
    float: left;
	border-right: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
    width: 50%;
    font-size: 11px;
}
.news-list ul li .pic{
    color: #fff;
    overflow: hidden;
    position: relative;
    zoom: 1;
    display: block;
    text-align: center;
    cursor: pointer;
}
.news-list ul li .img-lazyloaded {
    background: #fff;
}
.news-list ul li .txt {
    height: 79px;
    position: relative;
    zoom: 1;
    margin: 0 10px;
}
.news-list ul li .tit a {
    color: #333;
}
.news-list ul li .price {
    position: absolute;
    left: 0;
    bottom: 16px;
    color: #999;
    white-space: nowrap;
    font-size: 12px;
    line-height: 14px;
    display: inline-block;
}
.news-list ul li .price strong {
    position: relative;
    top: 1px;
	margin-right: 5px;
    color: #E31436;
    font-size: 20px;
    line-height: 20px;
}

.news-list ul li .price strong em {
    font-size: 14px;
    font-weight: bold;
}
.news-list ul li .price .item2 {
    margin: 0 8px 0 0;
    position: relative;
    top: 1px;
}
.news-list ul li.itm4,.news-list ul li.itm2 {
    border-right: 0;
}

.brand-c ul{
	box-shadow: none;
    border: 0 solid #eaeaea;
    border-width: 1px 0px 0 1px;
    overflow: hidden;
    background: #fff;
	}
.brand-c ul li {
    float: left;
    border-right: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    width: 25%;
    font-size: 11px;
	text-align:center;
	padding:3%;
}
.brand-c ul li.more{ background:#404040;}

.area{ position:relative;}
.area .w-tit1 .tit {
    margin-right: 3%;
}
.area .w-tit1 .tit, .w-taglist {
    float: left;
}
.w-taglist {
    position: relative;
    top: 20px;
    font-size: 14px;
    color: #999;
}
.w-taglist li {
    float: left;
}
.w-taglist a{
    color: #666;
}
.w-taglist .sep {
    margin: 0 13%;
    color: #ccc;
}
.u-btn-more {
	position: absolute;
    right: 0; 
	bottom:5px;
    font-size: 14px;
    color: #b11016;
}
   
.w-activlist{
   box-shadow: none;
    border: 0 solid #eaeaea;
    border-width: 0px 0px 1px 1px;
    overflow: hidden;
    background: #fff;
	margin-bottom:30px;
}
.w-activlist li {
	 width: 50%;
    float: left;
    text-align: center;
    border: 1px solid #eaeaea;
    border-width: 1px 1px 0 0;
}
.w-activlist li a {
    display: block;
    padding: 3% 0 0;
}
.w-activlist .tit {
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    margin: 0 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.w-activlist .desc {
    font-size: 14px;
    line-height: 20px;
    margin: 0 10px 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.other_prolist {
    margin-top: 10px; 
}
.other_prolist .hd {
    overflow: hidden;
    padding: 10px 0;
}
.other_prolist .hd h2 {
    font-size: 18px;
    color: #333;
    font-weight: 700;
    float: left;
    padding-top: 5px;
}
.other_prolist .hd span {
    float: left;
    padding-left: 12px;
    color: #999;
    font-size: 14px;
    padding-top: 9px;
}
.other_prolist .bd {
    overflow: hidden;
	margin-bottom:45px;
	
}
.other_prolist .bd ul {
	border:  solid #eaeaea;
	border-width:1px 0px 0px 1px;
}
.other_prolist .bd li {
	float:left;
    width:50%;
    float: left;
    margin: 0 ;
    background: #fff;
    border: solid #eaeaea;
	border-width:0 1px 1px 0;
}
.other_prolist .bd li .img {
	text-align:center;
}
.other_prolist .bd li .info {
	
    padding: 5px 15px 0;
}
.other_prolist .bd li .name {
    height: 20px;
	font-size:18px;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.other_prolist .bd li .promotion {
	font-size:18px;
    margin-bottom: 9px;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    color: #E31436;
}
.other_prolist .bd li .iteminfo {
    padding-bottom: 7px;
}
.other_prolist .bd li .price {
    line-height: 14px;
    color: #E31436;
    font-size: 16px;
    font-weight: bold;
    display: block;
}
.other_prolist .bd li .price em {
    font-size: 12px;
}
.other_prolist .bd li .marprice {
    padding-left: 5px;
    color: #999;
    font-size: 12px;
    font-weight: normal;
    text-decoration: line-through;
}
.other_prolist .bd li .iteminfo a {
    line-height: 24px;
    color: #999;
    font-size: 12px;
}



.footer{position:fixed;bottom:0;width:100%;max-width: 640px; min-width: 320px; z-index:9999;
    border-top: solid 1px #d2d2d2; background-color: #f8f8f8;
}

.footer .footer-nav{margin: 0% 3% 0% 3%;}
.footer .footer-nav a{ float: left; width:20%;  margin: 1% 0 1% 0; text-align: center;}
.footer .footer-nav a span{font-size: 18px;margin-top: 8px;}
.footer .footer-nav a i.icon {
    display: block;
    width: 46px;
    height: 46px;
    font-size: 35px;
    color: #5b616b;
    margin: 0 auto;
    text-align: center;
    line-height: 46px;
    border-radius: 50%;

}

.footer .footer-nav a.cur i,.footer .footer-nav a.cur span{
    color: #ff5000;
}
/*产品中心*/

.icon-down:before{ content:"\e619";}
.icon-price:before{ content:"\e6ac";}
.icon-up:before{content:"\e606";}
.icon-comment:before{ content:"\e60c"; }

.catTab .tabTit .active .icon {
    color: #ff5644;
    display: inline-block;
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}
.catTab .tabTit .active .icon-price {
    color: #ff5644;
    display: inline-block;
    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
}
.pr {
    position: relative !important;
}
.catTab {
    z-index: 10;
}
.catTab .tabTit {
    background: #fff;
    border: solid #aaa; border-width:1px 0 1px 0;
    position: relative;
}
.catTab .tabTit .icon{ color:#959595;}
.box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.catTab .tabTit li:first-child {
    border: 0;
}
.catTab .tabTit li {
	cursor:pointer;  color:#494949; font-size:20px; padding:1% 0; text-align:center;
	

}
.text-center {
    text-align: center !important;
}
.flex1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    box-flex: 1;
    flex: 1;
    overflow: hidden;
    display: block;
}
.catTab .tabTit .active .tit {
    color: #ff5644;
}
.catTab .tit {
    line-height: 40px;
    display: block;
    color: #333;
}


.catTab .tabLayer {
    position: absolute;
    left: 0;
    top: 100%;
    background: #fff;
    width: 100%;

    padding-bottom: 15px;
    display: none;
}
.catTab .tabLayer>div {
    display: none;
}
.catTab .tabLayer>div a.active {
    color: #ff5644;
    border-color: #ff5644;
}
.catTab .tabLayer>div a {
    display: block;
    line-height: 27px;
	padding:2% 0 2% 5%;
	font-size:20px;
	border-bottom:1px solid #e0e0e0;
}


.catepro {
    background: #eee;
}
.catepro .prolist {
	padding-bottom:6%;
}
.catepro .prolist li {
    width:49%;
    float: left;
    margin: 0 0 12px 0;
    padding: 0;
    position: relative;
    overflow: visible;
}
.catepro .prolist li:nth-child(2n){ margin-left:2%;}
.catepro .prolist li .prolist_con {
    background: #fff;
    border: 1px solid #fff;
}
.catepro .prolist li .img {
    position: relative;
	border-bottom:1px solid #eee;
}
.prolist .img {
    overflow: hidden;
}
.prolist .img img {
    display: block;
    margin: 0 auto;
}
.catepro .prolist li .desc {
    padding: 5px 14px 11px;
}
.catepro .prolist li .price {
    display: block;
    height: 24px;
    line-height: 27px;
    color: #ff5000;
    font-size: 12px;
}
.catepro .prolist li .cur {
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    vertical-align: top;
    float: left;
}
.catepro .prolist li .cur em {
    font-size: 12px;
    vertical-align: middle;
}

.catepro .prolist li .tit {
    height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 5px 0 0 0;
    line-height: 20px;
    font-size: 18px;
}
.prolist .tit a {
    color: #272727;
}
.catepro .prolist li .saelsinfo {
    height: 20px;
    line-height: 20px;
    font-size: 18px;
    overflow: hidden;
	color:#272727;
}
.catepro .prolist li .goodsinfo {
    line-height: 18px;
    margin-top: 10px;
}
.catepro .prolist li .goodsinfo a {
	font-size:16px;
	color:#898989;
    float: left;
    font-family: arial;
    position: relative;
    padding-left: 25px;
}
.catepro .prolist li .goodsinfo a i {
	margin-left:4px;
    width: 12px;
    height: 14px;
    background: url(../images/icon-new.png) 0 -230px no-repeat;
    position: absolute;
    top: 3px;
    left: 0px;
}
.catepro .prolist li .goodsinfo span {
    float: right;
	font-size:16px;
	color:#898989;
}

/*产品中心*/

.headerx{ position:relative;}
.headerx a{ position: relative; margin-top:5%; display:inline-block;}
.headerx a.btn-back{ margin-left:3%;}
.headerx a.btn-car{ margin-right:1.5%;}
.headerx a.btn-more{ margin-right:3%;}
.headerx a i{display: block;width:70px; height:70px; border-radius:50%;text-align: center; background:#848484; color:#fff;font-size:35px; line-height:70px;}
.main-xq{ background:#eee; padding-bottom:5%;}

.txtc{ background:#fff; padding-top:10px;}
.txtc .namet{padding:0 3%; position:relative;}
.txtc .namet .span1{ display:block; padding-right:13%;font-size:24px; color:#272727; }

.txtc .namet .btn-share{ position:absolute; right:3%; top:1%; width:50px; height:42px; border-left:1px solid #e5e5e5;}
.txtc .namet .btn-share span{ font-size:13px; text-align:center; display:block;}
.txtc .namet .btn-share i{ font-size:24px; text-align:center; margin:0 auto; display:block;}
.icon-share:before{ content:"\e60b";}

.txtc .namet1{ font-size:23px; color:#a3a3a3;padding:1% 3%;}

.m_price {
	padding:0 3%;
    position: relative;
    padding-top: 12px;
    z-index: 100;
    font-size: 0;
    white-space: nowrap;
}
.current_price {
    font-size: 26px;
    color: #D22046;
    font-weight: 700;
    vertical-align: baseline;
    line-height: 1;
    display: inline-block;
}
.current_price em {
    font-weight: 700;
}
.discount {
    display: inline-block;
    margin-left: 5px;
    background-color: #F68587;
    height: 18px;
    line-height: 18px;
    padding: 0 5px;
    color: #FFF;
    font-size: 12px;
    vertical-align: 5px;
    border-radius: 2px;
}
.shop_price {
    vertical-align: 4px;
    font-size: 13px;
    color: #999;
    margin-left: 14px;
}
.shop_price {
    vertical-align: 4px;
    font-size: 13px;
    color: #999;
    margin-left: 14px;
}

.tm-ind-panel {
	font-size:22px;
    border-width: 1px 0;
    margin:5px 0px 5px 0;
    padding: 10px 0;
    position: relative;
    overflow: hidden;
    clear: both;
    display: flex;
}
.tm-ind-item {
    float: left;
    width: 33%;
    text-align: center;
    position: relative;
    left: -1px;

    flex: 1;
    line-height: 16px;
}
.tm-ind-item .tm-label, .tm-ind-item .tm-monthavg {
    display: inline-block;
    line-height: 16px;
    height: 16px;
    color: #999;
	text-align: center;
}
.tm-ind-panel .tm-count {
    display: inline-block;
    line-height: 16px;
    height: 16px;
    color: #808080;
    font-weight: 500;
    margin-left: 3px;
	text-align: center;
}
.bz{padding:3% 3%; font-size:24px; color:#7a7a7a; border-bottom:1px solid #dcdcdc; background:#f8f8f8;}
.bz .txt-zp{display:inline-block; margin-right:3%;}
.bz .txt-zp i{ color:#ff5406; font-size:30px; width:40px; display:inline-block;} 
.icon-zp:before{ content:"\e69e";}

.youhui{ overflow:hidden; margin-top:3%; background:#fff;}
.youhui p{ margin:2% 0 0 3%; color:#585858; font-size:20px;}
.youhui table {
    width: 94%;
	margin:3% 3%;
    line-height: 25px;
    text-align: center;
    font-size: 13px;
    color: #888;
	font-size:20px;
}
.youhui table th {
    width: 50%;
	font-weight:100;
}
.youhui table td {
	font-weight:100;
}

.sele{ padding:0 3%; background:#fff; margin:3% 0;}
.sele a{ position:relative; display:block; font-size:26px; padding:2% 0;}
.sele a i{ position:absolute; right:0; display:inline-block; width:15px; height:20px; color:#494949;} 
.icon-go:before{ content:"\e604";}

.cptab-nav{ background:#fff;}
.cptab-nav a{ font-size:20px; width:25%; text-align:center; display:inline-block; padding:2% 0; float:left;}
.cptab-nav a.cur{ border-bottom:4px solid #ff5000;}
.cptab-c{ min-height:300px;}

.footer-btn a{ font-size:30px; display:inline-block; width:50%; padding:2% 0; float:left; text-align:center; color:#fff;}
.footer-btn a.btn-jrcar{ background:#ff9402;}
.footer-btn a.btn-buy{ background:#ff5000;}

